<!DOCTYPE html>
<html>
  <head>
    <title>WebRTC Playground</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/lib/webrtc.io.js"></script>
  </head>
  <body onload="init()">
    {{{ body }}}
    <script src="/static/js/main.js"></script>
  </body>
</html>
