.chat
  order 2
  flex-grow 1
  background-color tomato

  .chat__messages
    ul
      list-style-type none
      border 1px solid #ddd
      margin .25em
  form
    width 100%
    input
      width 80%
    button
      width 17%
