<div id="videos">
  <video id="remoteVideo"
         autoplay
         style="position: absolute; left: 0px; top: 0px;"></video>
  </video>
  <video id="localVideo"
         autoplay
         style="position: absolute; left: 0px; bottom: 0px;">
  </video>
</div>
