<div class="container">

  <section class="videos">
    <video data-video="remote" autoplay></video>
    <video data-video="local" autoplay></video>
  </section>

  <section data-section="chat" class="chat">
    <form action="" >
      <input id="message"
             type="text"
             placeholder="Escribe tu mensaje..."
             autcomplete="off"/>
      <button>Enviar</button>
    </form>
    <ul class="chat__messages"></ul>
  </section>

  <section class="blackboard">
    .blackboard.
  </section>

</div>
