<div class="container">

  <section class="videos">
    <video data-video="remote" autoplay></video>
    <video data-video="local" autoplay></video>
  </section>

  <section class="chat">
    .chat.
  </section>

  <section class="blackboard">
    .blackboard.
  </section>

</div>
